Repository wizzomafizzo/bumpers: changes, and which lefthook commands are due for each by the changed paths.
All: golint, gomod

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Format and lint Go code
    golint:
      glob: "*.go"
      run: just lint
      fail_text: "Linting failed. Please fix the issues and try again."
      stage_fixed: true

    # Check go.mod tidiness
    gomod:
      glob: "{go.mod,go.sum}"
      run: go mod tidy && git diff --exit-code go.mod go.sum
      fail_text: "go.mod/go.sum not tidy. Run 'go mod tidy' and commit the changes."

  # Optional: Skip hooks with LEFTHOOK=0 git commit
  skip_output:
    - meta
    - summary

Introduce project root detection with environment variable and marker support
  bumpers.yml
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/install.go
  internal/project/root.go
  internal/project/root_test.go
Due: golint

Refactor config path resolution with extension fallback and enhance related tests
  internal/cli/app.go
  internal/cli/app_test.go
Due: golint

Add UserPromptSubmit hook support with interactive command system
  bumpers.yml
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/commands.go
  internal/cli/install.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/viper_test.go
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
Due: golint

Fix critical security and compliance issues in hook processing
  bumpers.yml
  cmd/bumpers/claude.go
  cmd/bumpers/claude_test.go
  cmd/bumpers/main.go
  internal/claude/settings/hooks.go
  internal/claude/settings/hooks_test.go
  internal/claude/settings/persistence.go
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/commands.go
  internal/cli/install.go
  internal/config/config.go
  internal/constants/commands.go
  internal/constants/paths.go
  internal/filesystem/filesystem.go
  internal/filesystem/filesystem_test.go
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/project/root_test.go
Due: golint

Enhance codebase with comprehensive improvements and fixes
  bumpers.yml
  cmd/bumpers/claude_test.go
  cmd/bumpers/main.go
  cmd/bumpers/main_test.go
  internal/cli/app_test.go
  internal/cli/commands.go
  internal/cli/install.go
  internal/filesystem/filesystem.go
  internal/filesystem/filesystem_test.go
  internal/logger/logger_test.go
  internal/project/root_test.go
Due: golint

Split commands definitions and improve hook exit code handling
  cmd/bumpers/claude.go
  cmd/bumpers/claude_test.go
  cmd/bumpers/hook.go
  cmd/bumpers/hook_test.go
  cmd/bumpers/install.go
  cmd/bumpers/install_test.go
  cmd/bumpers/main.go
  cmd/bumpers/main_test.go
  cmd/bumpers/root.go
  cmd/bumpers/root_test.go
  cmd/bumpers/status.go
  cmd/bumpers/status_test.go
  cmd/bumpers/validate.go
  cmd/bumpers/validate_test.go
  internal/cli/app_test.go
  internal/cli/install.go
Due: golint

Refactor CLI app creation and configuration handling
  bumpers.yml
  cmd/bumpers/hook.go
  cmd/bumpers/install.go
  cmd/bumpers/root.go
  cmd/bumpers/root_test.go
  cmd/bumpers/status.go
  cmd/bumpers/validate.go
Due: golint

remove docs folder
  docs/hooks-reference.md
Due: none

Add SessionStart hook processing with note aggregation
  bumpers.yml
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/install.go
  internal/cli/sessionstart.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
  justfile
Due: golint

Tidying up
  .gitignore
  bumpers.yml
  lefthook.yml
Due: none

Refactor configuration schema and change command prefix to $
  CLAUDE.md
  bumpers.yml
  internal/bumpers_test.go
  internal/claude/launcher.go
  internal/claude/launcher_test.go
  internal/cli/app.go
  internal/cli/app_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/viper_test.go
  internal/constants/commands.go
  internal/logger/logger.go
  internal/matcher/matcher_test.go
Due: golint

Add template support for dynamic message content
  CLAUDE.md
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/commands.go
  internal/cli/sessionstart.go
  internal/template/security.go
  internal/template/template.go
  internal/template/template_test.go
Due: golint

Add template variable support with Today context
  bumpers.yml
  cmd/bumpers/main_test.go
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/commands.go
  internal/cli/sessionstart.go
  internal/template/context.go
  internal/template/context_test.go
  internal/template/template_test.go
Due: golint

Add GitHub Actions CI pipeline with test and lint jobs
  .github/workflows/ci.yml
Due: none

Add secure readFile template function with comprehensive features
  internal/template/functions.go
  internal/template/functions_test.go
  internal/template/template.go
  internal/template/template_test.go
Due: golint

Add testPath template function for file/directory existence checking
  internal/template/functions.go
  internal/template/functions_test.go
  internal/template/template_test.go
Due: golint

Refactor template execution and add constants for hook events
  internal/cli/app.go
  internal/cli/commands.go
  internal/cli/install.go
  internal/cli/sessionstart.go
  internal/constants/hooks.go
  internal/template/template.go
Due: golint

Fix CI linting: update golangci-lint from v2.2.0 to latest
  .github/workflows/ci.yml
Due: none

Fix linting issues and improve test structure
  CLAUDE.md
  bumpers.yml
  internal/bumpers_test.go
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/install.go
  internal/config/config.go
  internal/config/config_test.go
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
  internal/matcher/matcher.go
  internal/matcher/matcher_test.go
Due: golint

Revert bumpers.yml to original configuration
  bumpers.yml
Due: none

Remove silent tool name injection and fix tests
  internal/cli/app.go
  internal/cli/app_test.go
Due: golint

Add AI-powered message generation system
  bumpers.yml
  go.mod
  go.sum
  internal/ai/cache.go
  internal/ai/cache_test.go
  internal/ai/generator.go
  internal/ai/generator_test.go
  internal/ai/prompt.go
  internal/ai/prompt_test.go
  internal/ai/types.go
  internal/ai/types_test.go
  internal/claude/launcher.go
  internal/claude/launcher_generation_test.go
  internal/cli/app.go
  internal/cli/app_test.go
  internal/config/config.go
  internal/config/config_test.go
Due: golint, gomod

Implement XDG-compliant storage and project-aware caching
  cmd/bumpers/main.go
  cmd/bumpers/main_test.go
  go.mod
  go.sum
  internal/ai/cache.go
  internal/ai/cache_test.go
  internal/ai/generator.go
  internal/ai/generator_test.go
  internal/cli/app.go
  internal/constants/paths.go
  internal/context/project.go
  internal/context/project_test.go
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/storage/storage.go
  internal/storage/storage_test.go
Due: golint, gomod

Fix linting issues and improve test infrastructure
  bumpers.yml
  cmd/bumpers/main_test.go
  internal/ai/cache.go
  internal/ai/cache_test.go
  internal/ai/generator.go
  internal/ai/generator_test.go
  internal/ai/prompt.go
  internal/ai/types.go
  internal/claude/launcher.go
  internal/claude/launcher_generation_test.go
  internal/claude/launcher_test.go
  internal/claude/mock.go
  internal/claude/testing_helpers.go
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/sessionstart.go
  internal/logger/logger.go
  testdata/mock-claude.sh
Due: golint

Refactor test complexity and fix linting issues
  bumpers.yml
  cmd/bumpers/hook_test.go
  cmd/bumpers/main_test.go
  internal/ai/cache_test.go
  internal/ai/prompt.go
  internal/bumpers_test.go
  internal/claude/launcher.go
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/commands.go
  internal/cli/sessionstart.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/viper_test.go
  internal/matcher/matcher.go
  internal/matcher/matcher_test.go
Due: golint

Improve AI generation configuration and add new tests
  bumpers.yml
  cmd/bumpers/hook.go
  cmd/bumpers/hook_test.go
  internal/claude/launcher.go
  internal/cli/app.go
  internal/config/config.go
  internal/config/config_test.go
Due: golint

Fix linting issues and improve code quality
  README.md
  bumpers.yml
  internal/ai/generator.go
  internal/cli/app.go
  internal/cli/app_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/matcher/matcher_test.go
  screenshot.png
Due: golint

Enhance hook processing to match all tool input fields
  README.md
  internal/bumpers_test.go
  internal/claude/settings/hooks.go
  internal/cli/app.go
  internal/cli/app_test.go
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
  internal/matcher/matcher_test.go
  screenshot.png
Due: golint

Refactor config parsing and improve pattern matching
  bumpers.yml
  internal/cli/app.go
  internal/cli/app_test.go
  internal/cli/commands.go
  internal/cli/sessionstart.go
  internal/config/config.go
  internal/config/config_test.go
Due: golint

checkpoint
  POSTTOOLUSE_PLAN.md
  PROJECT_PLAN.md
  TESTING_IMPROVEMENT_PLAN.md
  docs/lightweight-interactive-cli-plan.md
  internal/cli/app.go
  internal/cli/app_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/hooks/hooks.go
  testdata/transcript-not-related.jsonl
  testdata/transcript-permission-denied.jsonl
Due: golint

Update CLAUDE.md with enhanced CLI commands, testing workflow, and project structure details
  CLAUDE.md
Due: none

Fix all linting issues and improve code quality
  docs/plans/post_tool_use_plan.md
  internal/cli/app.go
  internal/cli/app_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/matcher/matcher.go
Due: golint

Add comprehensive tests for hooks, logging, and command processing
  bumpers.yml
  cmd/bumpers/hook.go
  cmd/bumpers/logging_conditional_test.go
  cmd/bumpers/main.go
  cmd/bumpers/main_e2e_test.go
  docs/plans/command_arguments_plan.md
  docs/plans/complete/post_tool_use_plan.md
  docs/plans/complete/test_improvement_plan.md
  docs/todo.md
  internal/cli/app.go
  internal/cli/commands.go
  internal/cli/sessionstart.go
  internal/hooks/hooks.go
  internal/hooks/hooks_string_test.go
  internal/logger/logger.go
  internal/logger/logger_dependency_test.go
  internal/logger/logger_structured_test.go
Due: golint

Add command argument support to bumpers configuration
  CLAUDE.md
  bumpers.yml
  docs/plans/command_arguments_plan.md
  internal/cli/app_test.go
  internal/cli/args.go
  internal/cli/args_test.go
  internal/cli/commands.go
  internal/template/context.go
  internal/template/context_test.go
  internal/template/functions.go
  internal/template/functions_test.go
  internal/template/template.go
  internal/template/template_test.go
Due: golint

revert config
  bumpers.yml
Due: none

Implement post-tool-use hooks with transcript parsing
  CLAUDE.md
  bumpers.yml
  docs/session-changes-2025-08-25.md
  internal/cli/app.go
  internal/cli/app_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/transcript/reader.go
  internal/transcript/reader_test.go
  testdata/transcript-no-match.jsonl
  testdata/transcript-not-related.jsonl
  testdata/transcript-permission-denied.jsonl
Due: golint

Remove deprecated when/fields configuration and fix flaky test
  internal/ai/generator_integration_test.go
  internal/cli/app.go
  internal/config/config.go
  internal/config/config_test.go
Due: golint

Fix linting issues and add missing errors import
  .golangci.yml
  CLAUDE.md
  docs/plans/intent_extraction_improvement_plan.md
  internal/cli/app.go
  internal/cli/app_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/hooks/hooks.go
  internal/transcript/reader.go
  internal/transcript/reader_test.go
  testdata/transcript-performance-analysis.jsonl
  testdata/transcript-thinking-and-text.jsonl
Due: golint

Adjust ci
  .github/workflows/ci.yml
Due: none
